<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="content">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
let rand = Math.random()
window.onload = function sendSessionID() {
    console.log(rand)
    $.ajax({
        url: "/session",
        data: {random_id: rand},
        type: "POST",
        datatype: "json"
    })
        .done(function (returned) {
            console.log(returned)
        })
        .always(function (a,status) {
            console.log(status)
        });
}
startUpdate = setInterval(function () {
    $.ajax({
        url: "/session/imalive",
        data: {random_id: rand},
        type: "POST",
        datatype: "json"
    })
        .done(function (returned) {
            console.log(returned)
        })
        .always(function (a, status) {
            console.log(status)
        });
}, 10000)

</script>

</body>

</html>